.container {
  width: 672px;
  margin: 0 auto;
  padding: 26px;
  padding-top: 22px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.modalContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #004980c0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 35px;
}

.timer {
  display: flex;
  align-items: end;

  color: #fff;
  font-family: StratosSkyeng;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
}

.previewText {
  font-size: 30px;
  line-height: 30px;
  margin-top: 34px;
  margin-bottom: 10px;
}

.previewDescription {
  font-size: 18px;
  line-height: 18px;
}

.timerValue {
  text-align: right;
}

.timerDescription {
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: StratosSkyeng;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  margin-bottom: -12px;
}

.modeContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}

.modeText {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  font-family: StratosSkyeng;
  font-weight: 400;

}

.superpower {
  position: relative;
  display: flex;
  align-items: center;
}

.superpowerEpiphany_btn {
  background-image: url('images/achiv_prozrenie.svg');
  width: 70px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
}

.superpowerEpiphany_btn:hover:not(:disabled) .hintOne_wrap {
  display: block;
}

.superpowerEpiphany_btn:disabled {
  background-image: linear-gradient(to top, grey, grey), url(images/achiv_prozrenie.svg);
  background-blend-mode: multiply;
  border-radius: 40px;
}

.hintOne_wrap {
  display: none;
  border-radius: 12px;
  background: rgb(194, 245, 255);
  padding: 25px 20px 20px 20px;
  position: absolute;
  z-index: 1;
  left: -15px;
  top: 80px;
  width: 160px;
}


.hintOne_title {
  color: rgb(0, 73, 128);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.hintOne_text {
  color: rgb(0, 73, 128);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

/* .achivki_btn:first-child:hover .hint_wrap, .achivki_btn:last-child:hover .hint_wrap {
  display: block;
} */

.superpowerAlohomora_btn {
  background-image: url('images/achiv_aho.svg');
  width: 70px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  margin-left: 15px;
}

.hintTwo_wrap {
  display: none;
  border-radius: 12px;
  background: rgb(194, 245, 255);
  padding: 25px 20px 20px 20px;
  position: absolute;
  z-index: 1;
  left: -15px;
  top: 80px;
  width: 160px;
}

.hintTwo_title {
  color: rgb(0, 73, 128);
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 10px;
}

.hintTwo_text {
  color: rgb(0, 73, 128);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.superpowerAlohomora_btn:hover:not(:disabled) .hintTwo_wrap {
  display: block;
}

.superpowerAlohomora_btn:disabled {
  background-image: linear-gradient(to top, grey, grey), url(images/achiv_aho.svg);
  background-blend-mode: multiply;
  border-radius: 40px;
}